{% extends "_0_layout.html" %}

{% block body %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div id="blog-carousel" class="carousel slide overlay-bottom" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{{ url_for('static', filename = 'img/carousel-1.jpg')}}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h2 class="text-primary font-weight-medium m-0">HAVE A BREAK, HAVE A</h2>
                        <h1 class="display-1 text-white m-0">COFFEE</h1>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">EXPLORE</h1>
                    <h5 class="mb-3">Good ideas start with brainstorming. Great ideas start with coffee.</h5>
                    <p>You might have visited many cafe but not like this one as it suggests the coffee based on our moods,So what are you waiting explore the world of coffee with a seasoning of technology</p>
                    <a href="picture.html" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2"> EXPERIENCE HERE </a>
                </div>
                <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename = 'img/about.png')}}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">EMOOFFEE</h4>
                <h1 class="display-4">DEVELOPED BY</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item" align = "justify-content-center">
                    <div class="d-flex align-items-center mb-3">
                         <img class="img-fluid" src="{{url_for('static',filename='img/profile_raghav.png')}}">
                        <div class="ml-3">
                            <h4>RAGHAV</h4>
                            <i>2nd YEAR,M.Sc AIML</i>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item" align = "justify-content-center">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid" src="{{url_for('static',filename='img/profile_naveen.jpg')}}">
                        <div class="ml-3">
                            <h4>NAVEEN</h4>
                            <i>2nd YEAR,M.Sc AIML</i>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item" align = "justify-content-center">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid" src="{{url_for('static',filename='img/profile_muhilan.jpg')}}">
                        <div class="ml-3">
                            <h4>MUHILAN</h4>
                            <i>2nd YEAR,M.Sc AIML</i>
                        </div>
                    </div>
                    <p class="m-0">STUDYING AT COIMBATORE INSTITUTE OF TECHNOLOGY</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Footer Start -->
    <div class="container-fluid footer text-white mt-5 pt-5 px-0 position-relative overlay-top">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Get In Touch</h4>
                <p><i class="fa fa-map-marker-alt mr-2"></i>COIMBATORE INSTITUTE OF TECHNOLOGY,COIMBATORE</p>
                <p class="m-0"><i class="fa fa-envelope mr-2"></i> emooffee@gmail.com </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4><br>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-outline-light btn-lg-square" href="https://www.instagram.com/emooffee/"><i class="fab fa-instagram"></i></a>
                    <h4> @emooffee </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;"> SPECIAL MENTIONS </h4>
                <div>
                    <h6 class="text-white text-uppercase"> THANKS TO </h6>
                    <p> Dr.J.Shana M.C.A.,M.Phil.,Ph.D. <br> HOD(AIML) <br><br>
                        Dr.A.Saravanan M.C.A.,M.Phil., <br> PhD Associate Professor(SS) <br><br>
                        Dr.C.Stanly Felix M.Sc.,M.Phil. <br> PhD Assistant Professor(SS) <br><br>
                        Dr.S B Mahalakshmi MSc,MPhil,PhD <br> Assistant Professor(AIML)
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}